GoldAnalyse/Xsd/Record.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Matters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Matter">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Date" type="xs:string" />
              <xs:element name="MID" type="xs:unsignedByte" />
              <xs:element name="Title" type="xs:string" />
              <xs:element name="Content" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>